.title {
  font-size: 40px;
  color: white;
  position: absolute;
  z-index: 10;
  text-align: center;
}

.relative__img {
  height: 200px;
  width: 1200px;

}


h2 {
  text-align: center;
}

p  {
  font-size: 14px;
  text-align: center;
}

.img__flex {
  height: 100px;
  width: 100px;
  margin: 10px 10px 10px 10px;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
}